@model LivroModel

@{
    ViewData["Title"] = "Excluir livro";
}

<div class="text-center">
    <h1 class="display-4">Excluir livro</h1>
</div>

<form class="mt-4 p-3" asp-controller="Livro" asp-action="Deletar" method="post">
  <h1>Realmente deseja deletar @Model.Titulo ?</h1>

  <input type="hidden" asp-for="Id">

  <button type="submit" class="btn btn-success">Confirmar</button>
  <a class="btn btn-secondary" asp-action="Index" asp-controller="Livro">Voltar</a>
</form>