@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center min-vh-100 bg-light">
    <h1 class="display-3 fw-bold mb-3 text-primary">Bem-Vindo</h1>
    <p class="lead text-secondary mb-0">Biblioteca Municipal de Camaçari</p>
</div>
